@import 'vars';

* {
    font-family: $main-font;
}

h2 {
    color: gray;
}

nav {
    background-color: black;
    text-align: right;
    padding: 10px;

    ul {
        list-style-type: none;
        padding: 0px;
    }

        li {
            display: inline-block;
        }

        a {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: $nav-font-size;
            padding: 20px;
        }

}