@import 'vars';

* {
    font-family: $main-font;
}

h2 {
    color: gray;
}

ul {
    list-style-type: none; 

    li {
        padding-top: 10px;
    }
    
    a {
        text-decoration: none;
    }
}

nav {
    background-color: black;
    text-align: right;
    padding: 10px;
    position: relative;

    ul {
        padding: 0px;
    }

        li {
            display: inline-block;
        }

        a {
            color: white;
            text-transform: uppercase;
            font-size: $nav-font-size;
            padding: 20px;
        }

}

main {
    width: 70%;
    text-align: justify;
    position: absolute;
    top: 230px; //ne razumem zasto nije primenio position absolute u odnosu na navigaciju koja je position relative i onda u odnosu na nju top:20px npr
    right: 20px;

    h1 {
        text-align: right;
    }
}
